.hello {
  color: red;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: lightgrey;
  width: 600px;
  margin: 200 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
}
